@font-face {
	font-family: "Flanders Art Sans";
	src: url("../fonts/FlandersArtSans-Light.eot");
	src: url("../fonts/FlandersArtSans-Light.eot?#iefix") format("embedded-opentype"), 
	url("../fonts/FlandersArtSans-Light.woff") format("woff"), 
	url("../fonts/FlandersArtSans-Light.ttf")  format("truetype"), 
	url("../fonts/FlandersArtSans-Light.svg#26c269558e3060dfbe8b0bc36088245c") format("svg");
	font-style:   normal;
	font-weight:  300;
}

@font-face {
	font-family: "Flanders Art Sans";
	src: url("../fonts/FlandersArtSans-Regular.eot");
	src: url("../fonts/FlandersArtSans-Regular.eot?#iefix") format("embedded-opentype"),
	url("../fonts/FlandersArtSans-Regular.woff") format("woff"),
	url("../fonts/FlandersArtSans-Regular.ttf")  format("truetype"),
	url("../fonts/FlandersArtSans-Regular.svg#5999c311efabb8ef8bfd93d30f0ab8ab") format("svg");
	font-style:   normal;
	font-weight:  normal;
}

@font-face {
	font-family: "Flanders Art Sans";
	src: url("../fonts/FlandersArtSans-Medium.eot");
	src: url("../fonts/FlandersArtSans-Medium.eot?#iefix") format("embedded-opentype"),
	url("../fonts/FlandersArtSans-Medium.woff") format("woff"),
	url("../fonts/FlandersArtSans-Medium.ttf")  format("truetype"),
	url("../fonts/FlandersArtSans-Medium.svg#7ebdc43021fbf6b8f40b21819190e2b4") format("svg");
	font-style:   normal;
	font-weight:  500;
}

@font-face {
	font-family: "Flanders Art Sans";
	src: url("../fonts/FlandersArtSans-Bold.eot");
	src: url("../fonts/FlandersArtSans-Bold.eot?#iefix") format("embedded-opentype"),
	url("../fonts/FlandersArtSans-Bold.woff") format("woff"),
	url("../fonts/FlandersArtSans-Bold.ttf")  format("truetype"),
	url("../fonts/FlandersArtSans-Bold.svg#d0ebe09b8d309cd8a8986065f592a85e") format("svg");
	font-style:   normal;
	font-weight:  bold;
}

$orange: rgb(249, 168, 37);

html {font-size: 1.25em;}

body {
  background-color: #f5e9de;
  font-family: 'Flanders Art Sans', serif;
  font-weight: 400;
  line-height: 1.45;
  color: #333;
}

p {margin-bottom: 1.3em;}

h1, h2, h3, h4 {
  margin: 0 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  font-size: 2.441em;
}

h2 {font-size: 1.953em;}

h3 {font-size: 1.563em;}

h4 {font-size: 1.25em;}

small, .font_small {font-size: 0.8em;}

h1, h2, h3, h4 {
	text-transform: uppercase;
	font-weight: 500;
}

.block {
	padding-top: 5em;
	padding-bottom: 5em;
}
.block-bottom {
	padding-bottom: 5em;
}
.block-small {
	padding-top: 2.5em;
	padding-bottom: 2.5em;
}
.block-small-bottom {
	padding-bottom: 2.5em !important;
}

.btn-primary {
	background-color: #f57c00;
    border-color: #f57c00;
    border-radius: 0;
    padding: 15px 30px;

    &:hover, &:active, &:focus {
    	background-color: lighten(#f57c00, 5%) !important;
    	border-color: lighten(#f57c00, 5%) !important;
    }
}

a , .btn-link{
    				color: $orange;
    				&:hover, &:active, &:focus {
	    				color: darken($orange, 15%);
    }
    			}

.home {
	background-image: url(../images/bg.jpg);
	background-position: 50%;
	background-size: cover;
	background-repeat: no-repeat;

	.home-wrapper {
		justify-content: center;
    	align-items: center;
    	height: 100vh;
		.home-content {

		}
	}
}

header {
	background-image: url(../images/bg.jpg);
	background-position: 50%;
	background-size: cover;
	background-repeat: no-repeat;
	// padding: 5em;
	// text-align: center;

	h1 {
		color: #fff;
		margin: 0;
		    text-align: center;
    padding: 3.5em;
	}

	nav {
		text-align: right;
		    padding: 15px;
		ul {
			li {
				display: inline-block;
    			padding: 0 15px;
    			a {
    				color: #fff;
    				&:hover, &:active, &:focus {
	    				color: $orange;
    }
    			}
			}
		}
	}
}

.quiz-row {
	    margin: 30px 0;
	.quiz-flag {
		img {
			    width: 64px !important;
    height: 64px !important;
		}
		h3 {
			margin: 0 0 0 15px;
		}
	}
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.form-inline .form-control {
    padding: 5px 15px;
    margin: 5px 0;
}
.form-control {
	&.val-ok {
		border-color: #28a745;
	}
	&.val-nok {
		border-color: #dc3545;
		color: #dc3545;
	}
}

.margin-left {
	margin-left: 15px;
}
.table {
	background-color: #fff;
}

p.mb-0 {
	padding: .375rem .75rem;
}